﻿@layout MainLayout
@page "/Events/{TournamentId}/{CompleteTournamentId}"
@page "/Events/{TournamentId}"

<div class="mx-auto">
    @if (!Tournament.Events.Any())
    {
        <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">NOT ADDED EVENTS YET</p>
    }
    else
    {
        <div style="margin-top: 1%"></div>
        <table class="table table-bordered table-striped container" style="background-color: white;">
            <thead class="thead-light text-center">
            <tr>
                <th>Home</th>
                <th>Away</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="thead-light text-center text-">
            @foreach (var tournamentEvent in Tournament.Events)
            {
                <tr>
                    <td>@tournamentEvent.Home</td>
                    <td>@tournamentEvent.Away</td>
                    <td>
                        <button class="btn btn-app-danger" @onclick="@(() => DeleteCommand(tournamentEvent.Id))">
                            🗙
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    <div class="btn-group quick-add-btn-group" role="group" aria-label="Basic example">
        <button @onclick="AddEvent" type="button" class="btn btn-danger">ADD</button>
        <button @onclick="GenerateRandom" type="button" class="btn btn-danger">RANDOM</button>
        <button @onclick="ApplyEvents" type="button" class="btn btn-danger">APPLY</button>
    </div>
    <AddEventsDialog @ref="AddEventsDialog" CloseEventCallback="@AddEventsDialog_OnDialogClose"></AddEventsDialog>
</div>
