﻿@page "/"
@layout MainLayout

<div class="mx-auto">
    @if (IsWaiting)
    {
        <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">CREATING BET MODEL</p>
        <div class="spinner"></div>
    }
    <button @onclick="CreateTournament" type="button" class="btn-lg btn-danger btn-circle quick-add-btn" disabled=@(IsWaiting)>
        CREATE TOURNAMENT
    </button>
    <CreateTournamentDialog @ref="CreateTournamentDialog" CloseEventCallback="@CreateTournamentDialog_OnDialogClose"></CreateTournamentDialog>
</div>