﻿@page "/Results/{TournamentId}"
@page "/Results/{TournamentId}/{CompleteTournamentId}"
@using MazeRunner.Web.Models
@layout MainLayout

@if (!String.IsNullOrEmpty(CompleteTournamentId))
{
    @if (false)
    {
        <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">NO GAMES</p>
        <div class="spinner"></div>
    }
    else
    {
        if (!TournamentModel.Events.Any())
        {
            <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">NO ACTIVE GAMES FOR THIS TOURNAMENT</p>
        }
        else
        {
            <p class="text-center" style="color: silver; font-size: 24px; margin-top: 1%">@TournamentModel.Tournament.ToUpper()</p>
            <div class="container col-md-4 rounded" style="background-color: whitesmoke">
                @foreach (var tournamentEvent in TournamentModel.Events)
                {
                    <div class="border border-danger">
                        <EditForm class="text-center" Model="TournamentModel" style="margin: 20px;">
                            <div class="row">
                                <div class="col text-center">
                                    <span class="font-weight-bold">@tournamentEvent.Home</span> vs <span class="font-weight-bold">@tournamentEvent.Away</span>
                                </div>
                                <div class="input-group" style="margin-top: 10px">
                                    <CustomInputSelect class="custom-select" @bind-Value="@tournamentEvent.HomeGoalId">
                                        @foreach (var goal in GoalsCount)
                                        {
                                            <option value="@goal.Id">@goal.Goals</option>
                                        }
                                    </CustomInputSelect>
                                    <CustomInputSelect class="custom-select" @bind-Value="@tournamentEvent.AwayGoalId">
                                        @foreach (var goal in GoalsCount)
                                        {
                                            <option value="@goal.Id">@goal.Goals</option>
                                        }
                                    </CustomInputSelect>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                }
            </div>
            <div class="btn-group quick-add-btn-group" role="group">
                <button @onclick="CompleteGames" type="submit" class="btn btn-danger">Complete Games</button>
            </div>
        }
    }
}