﻿@page "/Tournament/{TournamentId}"
@using MazeRunner.Web.Models
@layout MainLayout

<div class="mx-auto">
    @if (false)
    {
        <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">WAITING FOR THE GAMES ODDS</p>
        <div class="spinner"></div>
    }
    else
    {
        if (!TournamentModel.Events.Any())
        {
            <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">NO ACTIVE GAMES FOR THIS TOURNAMENT</p>
        }
        else
        {
            <p class="text-center" style="color: silver; font-size: 24px; margin-top: 1%">@TournamentModel.Tournament.ToUpper()</p>
            <div class="container col-md-4 rounded" style="background-color: whitesmoke">
                @foreach (var tournamentEvent in TournamentModel.Events)
                {
                    <div class="border border-danger">
                        <EditForm class="text-center" Model="TournamentModel" style="margin: 20px;">
                            <div class="row">
                                <div class="col text-center">
                                    <span class="font-weight-bold">@tournamentEvent.Home</span> vs <span class="font-weight-bold">@tournamentEvent.Away</span>
                                </div>
                                <div class="w-100"></div>
                                <div class="text-center offset-2" style="margin-top: 10px">
                                    <InputRadioGroup @bind-Value="tournamentEvent.Winner">
                                        <div class="form-check form-check-inline">
                                            <InputRadio class="form-check-input" type="radio" Value="GameResult.HomeWin"/>
                                            <label class="form-check-label">
                                                HOME WIN @tournamentEvent.HomeOdds%
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <InputRadio class="form-check-input" type="radio" Value="GameResult.Draw"/>
                                            <label class="form-check-label">
                                                DRAW @tournamentEvent.DrawOdds%
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <InputRadio class="form-check-input" type="radio" Value="GameResult.AwayWin"/>
                                            <label class="form-check-label">
                                                AWAY WIN @tournamentEvent.AwayOdds%
                                            </label>
                                        </div>
                                    </InputRadioGroup>
                                </div>
                                <div class="w-100"></div>
                                <div class="input-group" style="margin-top: 10px">
                                    <CustomInputSelect class="custom-select" @bind-Value="@tournamentEvent.HomeGoalId">
                                        @foreach (var goal in GoalsCount)
                                        {
                                            <option value="@goal.Id">@goal.Goals</option>
                                        }
                                    </CustomInputSelect>
                                    <CustomInputSelect class="custom-select" @bind-Value="@tournamentEvent.AwayGoalId">
                                        @foreach (var goal in GoalsCount)
                                        {
                                            <option value="@goal.Id">@goal.Goals</option>
                                        }
                                    </CustomInputSelect>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                }
            </div>
            <div class="btn-group quick-add-btn-group" role="group">
                <button @onclick="ApplyBets" type="submit" class="btn btn-danger">APPLY</button>
            </div>
        }
    }
    <AddPlayerNameDialog @ref="AddPlayerNameDialog" CloseEventCallback="@AddPlayerNameDialog_OnDialogClose"></AddPlayerNameDialog>
</div>

