﻿@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm id="addEventForm" class="modal-body" Model="@EventModel" OnValidSubmit="@HandleValidSubmit" novalidate>
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Home</label>
                        </div>
                        <CustomInputSelect class="custom-select" @bind-Value="@EventModel.HomeId">
                            @foreach (var team in Teams)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </CustomInputSelect>
                        <div class="input-group-prepend">
                            <label class="input-group-text">Away</label>
                        </div>
                        <CustomInputSelect class="custom-select" @bind-Value="@EventModel.AwayId">
                            @foreach (var team in Teams)
                            {
                                <option value="@team.Id">@team.Name</option>
                            }
                        </CustomInputSelect>
                    </div>
                </EditForm>
                <div class="form-group modal-footer d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button type="submit" @onclick="AddForm" class="btn btn-danger">Add Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}