﻿<h3>AddPlayerName</h3>

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm id="addEventForm" class="modal-body" Model="@PlayerModel" OnValidSubmit="@HandleValidSubmit" novalidate>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="input-group">
                        <div class="input-group has-validation">
                            <InputText type="email" class="form-control" placeholder="Enter Player name" @bind-Value="@PlayerModel.Name"/>
                            <div class="invalid-feedback">
                                Please enter player name
                            </div>
                            <ValidationMessage For="@(() => PlayerModel.Name)"/>
                        </div>
                    </div>
                </EditForm>
                <div class="form-group modal-footer d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button type="submit" @onclick="AddPlayer" class="btn btn-danger">Add Player</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}