﻿@using MazeRunner.Web.Models
@if (IsWaiting)
{
    <p class="text-center" style="color: silver; font-size: 24px; margin-top: 20%">VALIDATING HISTORY</p>
    <div class="spinner"></div>
}
@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm class="modal-body" Model="@TournamentModel" OnValidSubmit="@HandleValidSubmit" novalidate>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="form-group col-sm-10">
                        <label>
                            <InputFile OnChange="@OnInputFileChange"/>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group has-validation">
                            <InputText type="email" class="form-control" id="validationEmail" aria-describedby="emailHelp" placeholder="Enter Email" @bind-Value="@TournamentModel.OwnerEmail"/>
                            <div class="invalid-feedback">
                                Please input your email.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <InputText class="form-control" placeholder="Enter Tournament Name" @bind-Value="@TournamentModel.Tournament"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Sport</label>
                        </div>
                        <CustomInputSelect class="custom-select" @bind-Value="@TournamentModel.SportId">
                            @foreach (var sport in Sports)
                            {
                                <option value="@sport.Id">@sport.Sport</option>
                            }
                        </CustomInputSelect>
                    </div>
                    <div class="form-group modal-footer d-flex justify-content-center">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-danger">Next</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}