@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="align-items-center">
            @Body
        </div>
    </div>
</div>

<style>
body {
        background-color: #a30000;
    }
 
.btn-circle {
            position: absolute;
            font-size: 24px;
            height: 100px;
            width: 300px;
            border: none;
            outline:none;
        }

.quick-add-btn {
    font-size: 24px;
    position: fixed;
    right: 30px;
    bottom: 30px;
} 

.quick-add-btn-group {
    font-size: 24px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 100px;
    width: 300px;
}  
</style>
